* {
    margin: 0;
    padding: 0;
}


#navbar {
    position: fixed;
    width: 10em;
    height: 100%;
    background: rgb(0, 0, 0, 0.9);
    display: flex;
    z-index:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
  }

  li {
      margin: 20px;
  }

.navlink {
    color: rgb(161, 247, 144);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
